<%- include('partials/header') %>


<div class="create-page">
    <div class="create-img">
        <img src="/images/doit.png" alt="DoIT logo">
    </div>
    <div class="back">
        <a href="/main" role="button"><i class="fa-sharp fa-solid fa-circle-arrow-left"></i></a>
    </div>
    <div class="create-box">
        <input class="title" type="text" placeholder="Title">
        <textarea name="" id="" cols="50" rows="12" placeholder="Add your notes here ..."></textarea>
        <button class="btn btn-sm btn-outline-dark" type="submit">ADD</button>
    </div>
</div>





<%- include('partials/footer') %>